.whole{
    display: flex;
    background-color: #1A1915;
    
}
.part1{
 

}
.image{
    width: 52%;
}

.part2 {
    align-items: center;
    color: white;
    /* padding: 5%; */
    /* width: 130%; */
    margin-left: -24%;
    position: absolute;
    width: 37%;
    left: 83%;
    /* background-color: black; */
    top: 17%;
    /* display: flex;
    flex-direction: column; */
    align-content: center;
    justify-content: space-between;
    padding : 1vw;
    margin-top: -1vw;
}
.in_form{
    display: flex;
}
.in_form {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: 8%;
    
    
}
input{
    width: 100%;
    margin-bottom: 2%;
    height: 20%;
}
.btn_{
    margin-top: 3vw;
    padding: 0.8vw;
    width: 100%;
    background-color: #b97553;
    color: white;
}

.btn_:hover{
    cursor: pointer;
}
.head{
    margin-bottom: 5px;
    border-bottom: 2px solid #b97553;
    width: 87%;
}
input {
    width: 90%;
    margin-bottom: 2%;
    height: 20%;
    margin-bottom: 1.5vw;
    padding: 2%;
}

.mt-10{
    margin-bottom: 2%;
  }

  .parent {
    display: flex;
  }
  .child1{
    margin-right: 2vw;
  }

  input{
    width: 100%;
  }
  h2{
    letter-spacing: 4px;
  }